extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
        small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Cryptic Mystic Book Emporium
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 123 Appalachian Mountain Cove Rd., Green Mountain, NC 54321
          .facilities
            span.badge.badge-warning New & Used 
            span.badge.badge-warning Collectible
            span.badge.badge-warning Fiction, Non-fiction & Sci-Fi
            span.badge.badge-warning Free wifi

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee,
      cake or a pint? Let Loc8r help you find the place you're looking for.